@import url("reset.css");

body {
    display: block;
    position: relative;
    background: whitesmoke;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px; 
}

h1 {
    font-size: 2em;
    font-variant: small-caps;
}

h2 {
    font-size: 1.5em;
}

.top { 
    display: block; 
    max-width: 750px; /* Set the maximum width that an element will take up */ 
    margin: 0 auto;  /* Center the element within the page */ 
    background-color: red; 
    border: 5px solid black; 
    position: relative;  
    clear: both; 
}

/* Put the left section on the left and identify it with a border 
.left {
    float: left;
    max-width: 400px; 
    margin: 0 auto;  
    border: 5px dashed green; 
    padding: 40px; 

} */

nav #left, footer #left {
    float: left; 
}
nav #right, footer #right {
    float: right; 
}

form { 
    background-color: orange; 
    border: 5px solid saddlebrown; 
    clear: both;
    margin: 0 auto;  
    width: 90%
}


form  #logo {
    width: auto;

}
/*
<h2>A form that "goes nowhere".</h2>
<img id="logo" src="images/logo.png" alt="Google's Logo">
<br>
<img src="images/magnifying-glass.png" alt="magnifying-glass" height="20px" width="20px">
<input type="search" id="google-search"> <br>
<button>Google Search</button> <button>I'm Feeling Lucky</button>

*?