@import url("reset.css");

body {
    display: block;
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

form {
    background-color: white;
    border: 1px dashed burlywood;
    clear: both;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
    height: 500px;
}

form {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

/* Style the navigation and footer bar  */
nav, footer {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}


/* Create navigation boxes from the unordered list items */

li {
    width: 100px;
    text-align: center;
    display: inline;
    padding: 5px;

}

/* Style the navigation elements */
li a {
    color: #363232;
    ;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}